.techs {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, auto));
        grid-template-rows: repeat(2 , 270px);
        grid-auto-rows: auto;
        gap: 13px;
        margin-top: 60px;
    }
    &__content {
        padding: 30px 25px;
        border: 2px solid #000;
        display: grid;
        grid-template-rows: 65px minmax(130px, auto);
        &-head {
            display: flex;
            align-self: center;
        }
        &-title {
            margin-top: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;
        }
    }
    &__percentage {
        &__wrapper {
            padding-top: 120px;
            display: grid;
            grid-template: repeat(2, 70px) / repeat(3, 350px);
            column-gap: 45px;
            row-gap: 30px;
        }
        &__item {
            display: grid;
            grid-template: 56px 14px / 316px 34px;
            justify-content: space-between;
            align-content: space-between;
            .subtitle {
                &::before {
                    top: -6px;
                    left: 0;
                }
            }
        }
        &-indicator {
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            span {
                display: block;
                background-color: $main-color;
                height: 14px;
                border-radius: 4px;
            }
        }
    }
    .divider {
        margin: 0 auto;
    }
}